# ---- Python / pytest cache ----
__pycache__/
*.pyc
.pytest_cache/

# ---- Virtual env ----
.venv/
venv/

# ---- Test reports & artifacts ----
reports/
reports/**/*.html
reports/**/*.png

# ---- VS Code ----
.vscode/

# ---- OS ----
.DS_Store
Thumbs.db
